@media (max-width: 1024px) {
  .container-logo img {
    width: 50%;
  }

  nav ul li a {
    font-size: 1.2rem;
    padding: 0 2rem;
  }

  main {
    margin: 0;
  }
  .mission {
    border-radius: 0;
    background-position: right;
  }
  .content-mission {
    top: 16rem;
  }

  .products {
    grid-template: 1fr 1fr / 300px 300px;
    margin: 2rem;
  }

  .product-three {
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .h2-team {
    margin-top: 2rem;
  }
  .team {
    margin-top: 1rem;
    grid-template: 340px 340px 340px / 300px 300px;
    gap: 2rem;
  }

  .container,
  .lists {
    width: 70%;
  }
  .copyright {
    padding-bottom: 3rem;
  }
  footer {
    margin-top: 2rem;
  }
  .list-one {
    width: 100%;
  }
  .list-one ul p {
    line-height: 1;
  }
  .list-one ul li {
    line-height: 1.7;
    font-size: 0.91rem;
  }

  .list-two .items {
    text-align: end;
  }
  .copyright {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .mission {
    background-position: right;
  }
  .content-mission {
    top: 34rem;
  }
  .container-logo img {
    width: 60%;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li a {
    font-size: 1rem;
    padding: 1rem 0;
  }

  main {
    padding-top: 8rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  .mission {
    min-height: 500px;
  }
}

@media (max-width: 1024px) {
  .mission {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .mission {
    height: 60vh;
    background-position: right;
    border-radius: 0;
  }
}
